<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-control" [ngClass]="{invalid:form.get('title')?.touched && form.get('title')?.invalid }">
            <label for="title">Post Title</label>
            <input type="text" id="title" formControlName="title">
            <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="validation">
                <small *ngIf="form.get('title')?.hasError('required')">
                    The field cannot be empty
                </small>
            </div>
        </div>
        <div class="form-control">
            <quill-editor formControlName="text">

            </quill-editor>
        </div>
        <button type="submit" [disabled]="form.invalid || submitted" class="btn btn-primary">Update</button>
    </form>
</div>
<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>