@import "./styles/main.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: $light-color;
  color: $dark-color;
}

a {
  color: $light-color;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $dark-color;
  }
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.list {
  margin: 0.5rem 0;

  li {
    padding-bottom: 0.3rem;
  }
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.form-control {
  display: block;
  color: #888;
  margin-bottom: 0.8rem;

  &.invalid {
    color: $primary-color;
    input {
      border-color: $primary-color;
    }
  }

  .validation {
    color: $primary-color;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 4rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  background-color: $primary-color;

  &.main {
    justify-content: center;
  }

  ul {
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
  }

  li.active a {
    color: $dark-color;
    font-weight: bold;
    cursor: default;

    &:hover {
      color: $light-color;
    }
  }
}
